/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2016, 15:14:45
    Author     : admind
*/


.m-row {
  max-width: 1280rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .m-row .m-row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }
  .m-row.expanded {
    max-width: none; }
  .m-row.collapse > .m-column, .m-row.collapse > .m-columns {
    padding-left: 0;
    padding-right: 0; }
  .m-row.is-collapse-child,
  .m-row.collapse > .m-column > .m-row,
  .m-row.collapse > .m-columns > .m-row {
    margin-left: 0;
    margin-right: 0; }

.m-column, .m-columns {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  /*
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  */
  padding:0;
  min-width: initial; }

.m-column.m-row.m-row, .m-row.m-row.m-columns {
  float: none;
  display: block; }

.m-row .m-column.m-row.m-row, .m-row .m-row.m-row.m-columns {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.small-1 {
  -webkit-flex: 0 0 3.125%;
      -ms-flex: 0 0 3.125%;
          flex: 0 0 3.125%;
  max-width: 3.125%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  -webkit-flex: 0 0 6.25%;
      -ms-flex: 0 0 6.25%;
          flex: 0 0 6.25%;
  max-width: 6.25%; }

.small-offset-1 {
  margin-left: 3.125%; }

.small-3 {
  -webkit-flex: 0 0 9.375%;
      -ms-flex: 0 0 9.375%;
          flex: 0 0 9.375%;
  max-width: 9.375%; }

.small-offset-2 {
  margin-left: 6.25%; }

.small-4 {
  -webkit-flex: 0 0 12.5%;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  max-width: 12.5%; }

.small-offset-3 {
  margin-left: 9.375%; }

.small-5 {
  -webkit-flex: 0 0 15.625%;
      -ms-flex: 0 0 15.625%;
          flex: 0 0 15.625%;
  max-width: 15.625%; }

.small-offset-4 {
  margin-left: 12.5%; }

.small-6 {
  -webkit-flex: 0 0 18.75%;
      -ms-flex: 0 0 18.75%;
          flex: 0 0 18.75%;
  max-width: 18.75%; }

.small-offset-5 {
  margin-left: 15.625%; }

.small-7 {
  -webkit-flex: 0 0 21.875%;
      -ms-flex: 0 0 21.875%;
          flex: 0 0 21.875%;
  max-width: 21.875%; }

.small-offset-6 {
  margin-left: 18.75%; }

.small-8 {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.small-offset-7 {
  margin-left: 21.875%; }

.small-9 {
  -webkit-flex: 0 0 28.125%;
      -ms-flex: 0 0 28.125%;
          flex: 0 0 28.125%;
  max-width: 28.125%; }

.small-offset-8 {
  margin-left: 25%; }

.small-10 {
  -webkit-flex: 0 0 31.25%;
      -ms-flex: 0 0 31.25%;
          flex: 0 0 31.25%;
  max-width: 31.25%; }

.small-offset-9 {
  margin-left: 28.125%; }

.small-11 {
  -webkit-flex: 0 0 34.375%;
      -ms-flex: 0 0 34.375%;
          flex: 0 0 34.375%;
  max-width: 34.375%; }

.small-offset-10 {
  margin-left: 31.25%; }

.small-12 {
  -webkit-flex: 0 0 37.5%;
      -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
  max-width: 37.5%; }

.small-offset-11 {
  margin-left: 34.375%; }

.small-13 {
  -webkit-flex: 0 0 40.625%;
      -ms-flex: 0 0 40.625%;
          flex: 0 0 40.625%;
  max-width: 40.625%; }

.small-offset-12 {
  margin-left: 37.5%; }

.small-14 {
  -webkit-flex: 0 0 43.75%;
      -ms-flex: 0 0 43.75%;
          flex: 0 0 43.75%;
  max-width: 43.75%; }

.small-offset-13 {
  margin-left: 40.625%; }

.small-15 {
  -webkit-flex: 0 0 46.875%;
      -ms-flex: 0 0 46.875%;
          flex: 0 0 46.875%;
  max-width: 46.875%; }

.small-offset-14 {
  margin-left: 43.75%; }

.small-16 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.small-offset-15 {
  margin-left: 46.875%; }

.small-17 {
  -webkit-flex: 0 0 53.125%;
      -ms-flex: 0 0 53.125%;
          flex: 0 0 53.125%;
  max-width: 53.125%; }

.small-offset-16 {
  margin-left: 50%; }

.small-18 {
  -webkit-flex: 0 0 56.25%;
      -ms-flex: 0 0 56.25%;
          flex: 0 0 56.25%;
  max-width: 56.25%; }

.small-offset-17 {
  margin-left: 53.125%; }

.small-19 {
  -webkit-flex: 0 0 59.375%;
      -ms-flex: 0 0 59.375%;
          flex: 0 0 59.375%;
  max-width: 59.375%; }

.small-offset-18 {
  margin-left: 56.25%; }

.small-20 {
  -webkit-flex: 0 0 62.5%;
      -ms-flex: 0 0 62.5%;
          flex: 0 0 62.5%;
  max-width: 62.5%; }

.small-offset-19 {
  margin-left: 59.375%; }

.small-21 {
  -webkit-flex: 0 0 65.625%;
      -ms-flex: 0 0 65.625%;
          flex: 0 0 65.625%;
  max-width: 65.625%; }

.small-offset-20 {
  margin-left: 62.5%; }

.small-22 {
  -webkit-flex: 0 0 68.75%;
      -ms-flex: 0 0 68.75%;
          flex: 0 0 68.75%;
  max-width: 68.75%; }

.small-offset-21 {
  margin-left: 65.625%; }

.small-23 {
  -webkit-flex: 0 0 71.875%;
      -ms-flex: 0 0 71.875%;
          flex: 0 0 71.875%;
  max-width: 71.875%; }

.small-offset-22 {
  margin-left: 68.75%; }

.small-24 {
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.small-offset-23 {
  margin-left: 71.875%; }

.small-25 {
  -webkit-flex: 0 0 78.125%;
      -ms-flex: 0 0 78.125%;
          flex: 0 0 78.125%;
  max-width: 78.125%; }

.small-offset-24 {
  margin-left: 75%; }

.small-26 {
  -webkit-flex: 0 0 81.25%;
      -ms-flex: 0 0 81.25%;
          flex: 0 0 81.25%;
  max-width: 81.25%; }

.small-offset-25 {
  margin-left: 78.125%; }

.small-27 {
  -webkit-flex: 0 0 84.375%;
      -ms-flex: 0 0 84.375%;
          flex: 0 0 84.375%;
  max-width: 84.375%; }

.small-offset-26 {
  margin-left: 81.25%; }

.small-28 {
  -webkit-flex: 0 0 87.5%;
      -ms-flex: 0 0 87.5%;
          flex: 0 0 87.5%;
  max-width: 87.5%; }

.small-offset-27 {
  margin-left: 84.375%; }

.small-29 {
  -webkit-flex: 0 0 90.625%;
      -ms-flex: 0 0 90.625%;
          flex: 0 0 90.625%;
  max-width: 90.625%; }

.small-offset-28 {
  margin-left: 87.5%; }

.small-30 {
  -webkit-flex: 0 0 93.75%;
      -ms-flex: 0 0 93.75%;
          flex: 0 0 93.75%;
  max-width: 93.75%; }

.small-offset-29 {
  margin-left: 90.625%; }

.small-31 {
  -webkit-flex: 0 0 96.875%;
      -ms-flex: 0 0 96.875%;
          flex: 0 0 96.875%;
  max-width: 96.875%; }

.small-offset-30 {
  margin-left: 93.75%; }

.small-32 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.small-offset-31 {
  margin-left: 96.875%; }
