/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2016, 11:30:45
    Author     : admind
*/

@font-face {
    font-family: AngleciaProTitle-Bold;
    src: url('fonts/angleciaprotitle-bold.eot');
    src: url('fonts/angleciaprotitle-bold.eot?#iefix') format("embedded-opentype"), 
        url('fonts/angleciaprotitle-bold.woff2') format("woff2"),
        url('fonts/angleciaprotitle-bold.woff') format("woff"), 
        url('fonts/angleciaprotitle-bold.ttf') format("truetype"),
        url('fonts/angleciaprotitle-bold.svg#AngleciaProTitle-Bold') format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: Geometria-Bold;
    src: url('fonts/Geometria-Bold.eot');
    src: url('fonts/Geometria-Bold.eot?#iefix') format("embedded-opentype"), 
        url('fonts/Geometria-Bold.woff2') format("woff2"), 
        url('fonts/Geometria-Bold.woff') format("woff"), 
        url('fonts/Geometria-Bold.ttf') format("truetype"),
        url('fonts/Geometria-Bold.svg#Geometria-Bold') format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: Geometria;
    src: url('fonts/Geometria-Medium.eot');
    src: url('fonts/Geometria-Medium.eot?#iefix') format("embedded-opentype"), 
        url('fonts/Geometria-Medium.woff2') format("woff2"), 
        url('fonts/Geometria-Medium.woff') format("woff"),
        url('fonts/Geometria-Medium.ttf') format("truetype"),
        url('fonts/Geometria-Medium.svg#Geometria-Medium') format("svg");
    font-weight: 500;
    font-style: normal
}

body, html {
    width: 100%;
    margin:0;
}
html{
    background-color:#f7f3f3;     
}
body{
    font:20px/14px;
    font-weight: 400;

}

a{
    text-decoration: none;
}

.font-title_large{
    font: 90px/100px AngleciaProTitle-Bold,serif;
}
.font-title {
    font: 70px/80px AngleciaProTitle-Bold,serif;
}
.font-small{
    font: 10px/14px Geometria-Bold,sans-serif;
    font-weight: 400; 
    -webkit-font-smoothing:antialiased;
}

.font-bold_large{
    font: 26px/34px Geometria-Bold,sans-serif;
    font-weight: 700;
}