/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2016, 11:47:13
    Author     : admind
*/
.l-header{
    margin: 0;
    padding: 0;
}
.l-header,.l-header a{
    color:#231f20;
}

.l-header-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    height: 62px;
    padding: 25px 0 0;
    letter-spacing: .01em;
    
}

.l-header-logo-img{
    width: 108px;
    height: 21px;
    border: none;
}

.l-header-link a{
    font: 16px/14px Geometria-Bold,sans-serif;
}

.l-header-logo-open_img{
    margin-top: -25px;
    height: 87px;
    border: none;
}