/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2016, 16:40:19
    Author     : admind
*/

.l-team{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
/*
.l-team-img{
    height: 300px;
}*/